1. What are data structures, and why are they important?

Ans.Data structures are ways to organize and store data in a computer to use it efficiently.

Why they matter:
-- Faster access to data

-- Better organization of code

-- Efficient memory use

-- Solve complex problems easily

Examples: Arrays, Linked Lists, Stacks, Queues, Trees, Hash Tables.

Right structure = Better performance.

2. Explain the difference between mutable and immutable data types with examples?

Ans. Mutable:
Can be changed after creation.

Example: Lists, Dictionaries, Sets

    my_list = [1, 2, 3]
    my_list.append(4)  # List is changed
    print(my_list)     
    
    # Output: [1, 2, 3, 4]
Immutable:
Cannot be changed after creation.

Example: Strings, Tuples, Integers

    name = "Alex"
    name = name + "a"   # A new string is created
    print(name)         
    
    # Output: "Alexa"

3. What are the main differences between lists and tuples in Python?

Ans. Here are the main differences between lists and tuples in Python:

1. Mutability

List: Mutable — you can change, add, or remove elements after creation.

    my_list = [1, 2, 3]
    my_list[0] = 10  # Valid

Tuple: Immutable — once created, you cannot change its contents.

    my_tuple = (1, 2, 3)
    # my_tuple[0] = 10  # Raises TypeError

2. Syntax
List: Defined with square brackets []

    my_list = [1, 2, 3]

Tuple: Defined with parentheses () (or just commas)

    my_tuple = (1, 2, 3)
3. Performance

Tuples are slightly faster than lists due to their immutability.

Useful when performance matters and the data does not need to change.

4. Use Case

List: Best when you need a collection of items that can change over time.

Tuple: Best for fixed collections of items (e.g., coordinates, RGB values).

5. Methods

Lists have more built-in methods (e.g., .append(), .remove(), .sort()).

Tuples have fewer methods (mainly .count() and .index()).

6. Hashability

Tuples can be used as dictionary keys if they contain only immutable elements.

Lists cannot be used as dictionary keys.

4. Describe how dictionaries store data?

Ans. Each item is a pair: key: value

Keys must be unique and immutable (e.g., strings, numbers, tuples)

Values can be any data type

Internally, Python uses a hash table to store and retrieve values quickly using keys

Example:

    person = {"name": "Alice", "age": 30}
    # Accessing data:
    print(person["name"])  
    
    # Output: Alice

5. Why might you use a set instead of a list in Python?

Ans. Only unique items
Sets automatically remove duplicates

    list_with_dupes = [1, 2, 2, 3]
    unique_set = set(list_with_dupes)  # {1, 2, 3}

--faster membership checks
Sets use hashing, so item in set is much faster than item in list, especially with large data.

-- Do set operations
Sets support powerful operations like:

Union: set1 | set2

Intersection: set1 & set2

Difference: set1 - set2

6. What is a string in Python, and how is it different from a list?

Ans. A string in Python is an immutable sequence of characters, used to store and manipulate text. Strings are defined using single (' ') or double (" ") quotes.

A list, on the other hand, is a mutable sequence that can store items of any data type, including numbers, strings, or even other lists.

Key Differences:
Mutability: Strings are immutable, lists are mutable

Content: Strings hold only characters, lists can hold mixed data types

Operations: Lists support more operations like adding/removing elements

7. How do tuples ensure data integrity in Python?

Ans. Tuples ensure data integrity in Python by being immutable.

What that means:
Once a tuple is created, its values can’t be changed

No one can add, remove, or modify items accidentally

Why that helps:
Keeps data safe and consistent

Great for storing fixed collections (like coordinates, settings, or constants)

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that stores data in key-value pairs and allows fast access to values using keys.

How it works:

A key is run through a hash function → gives a unique index

The value is stored at that index

Lookup is super fast — average time: O(1)

Relation to dictionaries:
In Python, dictionaries are built on hash tables

When you do my_dict["key"], Python:

Hashes the key

Finds the index

Returns the value

Example:

    my_dict = {"apple": 1, "banana": 2}
    # "apple" is hashed to an index → value 1 is retrieved

9. Can lists contain different data types in Python?

Ans. Yes, lists in Python can contain different data types.

Example:

    my_list = [1, "hello", 3.14, True, [5, 6]]
This list has:

An integer (1)

A string ("hello")

A float (3.14)

A boolean (True)

Another list ([5, 6])

Python lists are flexible — they can hold any mix of data types.

10. Explain why strings are immutable in Python?

Ans. Strings are immutable in Python to ensure data safety, performance, and reliability.

a. Data Integrity

Once created, the string can’t be changed — this prevents bugs from accidental changes.

b. Efficiency
Immutable objects can be optimized by Python internally (e.g., shared memory for identical strings).

c. Hashability

Strings can be used as keys in dictionaries because they are immutable (only immutable objects can be hashed).

d. Thread-Safety

In multi-threaded programs, immutable strings avoid issues with shared data being changed by different threads.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans.
1. Fast Lookups

Accessing values by key is much faster than searching through a list.

    my_dict["name"]  # O(1) time

2. Key-Value Pairing

Perfect when you want to associate values with unique keys (like a name with a phone number).

3. Clearer Code

Code is often more readable when using keys instead of index positions.

4. No Need to Remember Indexes

You use meaningful keys instead of numeric indexes:

    person["age"] vs person_list[2]

12. Describe a scenario where using a tuple would be preferable over a list.

Ans. Example:

    days = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
Why use a tuple:

The days of the week never change

No need to add/remove days

Tuple is immutable, so it protects the data.

13. How do sets handle duplicate values in Python?

Ans. In Python 3, sets automatically remove duplicate values.

Example:

    my_set = {1, 2, 2, 3, 3, 3}
    print(my_set)  # Output: {1, 2, 3}

How it works:

When you add elements to a set, Python checks for duplicates

If a value already exists, it won’t be added again.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans.

For lists:
Checks if a value exists in the list

    fruits = ["apple", "banana"]
    "apple" in fruits  # ✅ True
For dictionaries:
Checks if a key exists (not the value!)

    person = {"name": "Alice", "age": 30}
    "name" in person     # ✅ True (key)
    "Alice" in person    # ❌ False (not a key)

15. Can you modify the elements of a tuple? Explain why or why not?

Ans. No, you cannot modify the elements of a tuple in Python.

Why not?
Tuples are immutable — once created, their contents cannot be changed

We can’t add, remove, or change any item

Example:

    my_tuple = (1, 2, 3)
    my_tuple[0] = 10  # ❌ Error: 'tuple' object does not support item assignment

Why this is useful:

Protects data from being changed by mistake

Makes your code safer and more predictable

Allows tuples to be used as dictionary keys and in sets

16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary inside another dictionary — it lets you store more complex, structured data.

Example:

    students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
    }
Use Case:

Useful for storing data about multiple related items, like:

Students and their info

Products with details

Users and settings

Accessing nested data:

    print(students["Alice"]["grade"])  # Output: A
    
Nested dictionaries = great for organizing layered data!

17.  Describe the time complexity of accessing elements in a dictionary?

Ans. Accessing elements in a dictionary in Python has a time complexity of:

O(1) (average case)
Dictionary uses a hash table, so it can find the value by key almost instantly.

In rare cases (like hash collisions):
The time complexity can degrade to O(n) (worst case), but this is uncommon.

Example:

    my_dict = {"a": 1, "b": 2}
    print(my_dict["b"])  # O(1) access
    
Summary:

Dictionaries give very fast access to data using keys — that’s one of their biggest strengths!

18. In what situations are lists preferred over dictionaries?

Ans. Lists are preferred over dictionaries when:

1. Order matters

Lists keep the order of items (especially before Python 3.7, dicts didn't guarantee this)

2. You only need values

No need for key-value pairs, just a simple collection

    names = ["Alice", "Bob", "Charlie"]
3. You’re working with sequences

Like iterating over items, indexing, slicing, sorting

4. Memory is a concern

Lists are usually more memory-efficient than dictionaries

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.

Before Python 3.7, dictionaries didn’t keep the insertion order of items — the order could appear random because dictionaries focused on speed, not order.

Dictionaries do preserve insertion order, but they are still often described as unordered because:

The main feature is fast access by key, not order

You shouldn't rely on order for logic unless you explicitly need it

You can't access items by index like in a list

    my_dict = {"a": 1, "b": 2}
    my_dict[0]  #Not possible
Instead, you access values by key, which is fast and reliable

    my_dict["a"]  #Possible

20. Explain the difference between a list and a dictionary in terms of data retrieval?

Ans. Lists: Use when you need ordered data and access by position

Dictionaries: Use when you need fast lookups using meaningful keys.

**CODING**

1. Write a code to create a string with your name and print it?

In [1]:
my_name = "Rishabh Agrawal"
print(my_name)

Rishabh Agrawal

2. Write a code to find the length of the string "Hello World"?

In [2]:
text = "Hello World"
length = len(text)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("The second element is:", second_element)

The second element is: b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print("The second-to-last element is:", second_to_last)

The second-to-last element is: blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print("The minimum number is:", min_value)

The minimum number is: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('apple', 'banana', 'orange')

if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print("The set is:", my_set)

The set is: {'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("The set after clearing:", my_set)

The set after clearing: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("The set after removing 4:", my_set)

The set after removing 4: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("The union of the sets is:", union_set)

The union of the sets is: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("The intersection of the sets is:", intersection_set)

The intersection of the sets is: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print("The dictionary is:", person)

The dictionary is: {'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [23]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("The value associated with 'name' is:", name_value)

The value associated with 'name' is: Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Printing them all
print("List:", my_list)

List: [1, 2, 3, 4, 5]

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [27]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [24, 35, 60, 66, 92]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
# Create a list with strings
string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the element at the third index (index starts from 0)
print("Element at index 3:", string_list[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [29]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine them using the unpacking operator (Python 3.5+)
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [30]:
# List of strings
string_list = ['apple', 'banana', 'cherry', 'apple']

# Convert list to set
string_set = set(string_list)

# Print the result
print("Set:", string_set)

Set: {'banana', 'apple', 'cherry'}